.container {
    width: 80%;
    height: auto;
    color: black;
}
  
.foot {
    position: fixed;
    left: 10%;
    bottom: 0;
    width: 80%;
    text-align: center;
    color: #000;
}

